{% extends 'base.html' %}
{% load filtros %}

{% block 'conteudo' %} 
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Deseja mesmo excluir?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <a href="{% url 'excluir_livro' id_livro %}" class="btn btn-danger btn-lg">Excluir</a>

      </div>
     
    </div>
  </div>
</div>

<div class="container">
    <br>
    
    <form action="{% url 'alterar_livro' %}" method="POST"></form>
      {% csrf_token %}
      <input type="hidden" value="{{livro.id}}" name="livro_id">
      <p>
        <label>Nome do livro:</label>
        <input style="width: 40%;" class="form-control" type="texte" value="{{livro.nome}}" name="nome_livro">
      </p>

      <p>
        <label>Autor:</label>
        <input style="width: 40%;" class="form-control" type="texte" value="{{livro.autor}}" name="autor">
      </p>

      <p>
        <label>Co-autor:</label>
        <input style="width: 40%;" class="form-control" type="texte" value="{{livro.co_autor}}" name="co_autor">
      </p>

      <label>Categoria:</label>
      <select style="width: 20%;" class="form-control" name="categoria">
        {% for i in categoria_livro %}

          {% if livro.categoria.nome == i.nome %}
            <option selected>{{i}}</option>
          {% else %}
            <option>{{i}}</option>
          {% endif %}

        {% endfor %}
      </select>
      <br>

      <p>
        <label>Data:</label>
        <p>{{livro.data_cadastro}}</p>
      </p>

      
      <label>Emprestado</label>
      {% if livro.emprestado %}
      <svg style="color: green" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
      </svg>
      
      {% else %}
      <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      {% endif %}
      <br>
      <input type="submit" class="btn btn-success btn-lg" value="Salvar"> 
    </form>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal2">
      Excluir
    </button>
    <hr>
    <br>
    <h1>Histórico de Emprestimo</h1>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data do emprestimo</th>
          <th scope="col">Data devolução</th>
          <th scope="col">Tempo de duração</th>
        </tr>
      </thead>
      <tbody>
        {% for i in emprestimos%}
          <tr>
            {% if i.nome_emprestado_anonimo == None %}
            <th scope="row">{{i.nome_emprestado}}</th>
            {% else %}
            <th scope="row">{{i.nome_emprestado_anonimo}}</th>
            {% endif %}
            <td>{{i.data_emprestimo}}</td>
            <td>{{i.data_devolucao}}</td>
            <td>{{i.data_devolucao|mostra_duracao:i.data_emprestimo}} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>

{% endblock %}