{% extends 'base.html' %}


{% block 'conteudo' %} 
<div class="container">
    <br>
    <form action="#" method="POST"></form>
      {% csrf_token %}
      <p>
      <input type="hidden" value="{{livro.id}}" name="livro_id">
      <p>
        <label>Nome do livro:</label>
        <input style="width: 40%;" class="form-control" type="texte" value="{{livro.nome}}" name="nome_livro">
      </p>

      <p>
        <label>Autor:</label>
        <input style="width: 40%;" class="form-control" type="texte" value="{{livro.autor}}" name="autor">
      </p>

      <p>
        <label>Co-autor:</label>
        <input style="width: 40%;" class="form-control" type="texte" value="{{livro.co_autor}}" name="co_autor">
      </p>

      <label>Categoria:</label>
      <select style="width: 20%;" class="form-control" name="categoria">
        {% for i in categoria_livro %}

          {% if livro.categoria.nome == i.nome %}
            <option selected>{{i}}</option>
          {% else %}
            <option>{{i}}</option>
          {% endif %}

        {% endfor %}
      </select>
      <br>
      <label>Emprestado</label>
      
      <input type="checkbox" id="scales" name="scales" checked>
      
      <br>
      <input type="submit" class="btn btn-success btn-lg" value="Salvar">
      
    </form>
    <hr>
    <h1>Histórico de Emprestimo</h1>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data do emprestimo</th>
          <th scope="col">Data devolução</th>
          <th scope="col">Tempo de duração</th>
        </tr>
      </thead>
      <tbody>
        {% for i in emprestimos%}
          <tr>
            {% if i.nome_emprestado_anonimo == None %}
            <th scope="row">{{i.nome_emprestado}}</th>
            
            <th scope="row">{{i.nome_emprestado_anonimo}}</th>
            
            <td>{{i.data_emprestimo}}</td>
            <td>{{i.data_devolucao}}</td>
            <td></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>

{% endblock %}